.venv
build
dist
docker-manager.log
container-commands.json
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Python.Docker.Ui.iml
/.idea/vcs.xml
